*{
margin: 0;
padding: 0;
box-sizing: border-box;


}
body,main {
    width: 100%;
    font-family: 'Manrope', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,div,span,a {
    font-family: 'Manrope', sans-serif;
}
.page-width{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-width{
    max-width: 1440px;
    width: 100%;
    display: flex;
    padding-left: 125px;
    padding-right: 125px;
}
.text-border{
    -webkit-text-stroke: 1px #212121;
}
